apiVersion: v1
kind: Pod
metadata:
  name: $IOZONE_NAME
spec:
  containers:
  - name: app
    image: acrelle/iozone
    command: ["/usr/bin/iozone"]
    app/irodsfs_fuseoverlayfs_iozone.yaml.template
    volumeMounts:
    - name: persistent-storage
      mountPath: /mount
  restartPolicy: Never
  volumes:
  - name: persistent-storage
    persistentVolumeClaim:
      claimName: $IRODSFS_PVC_NAME
