apiVersion: v1
kind: Pod
metadata:
  name: $GIT_FUSEOVERLAYFS_NAME
spec:
  containers:
  - name: app
    image: $BENCHMARK_IMAGE
    command: ["/usr/bin/time"]
    args: ["git", "clone", "https://github.com/cyverse/go-irodsclient.git", "/mount/bench_fuseoverlayfs_go_irodsclient"]
    volumeMounts:
    - name: persistent-storage
      mountPath: /mount
  restartPolicy: Never
  volumes:
  - name: persistent-storage
    persistentVolumeClaim:
      claimName: $IRODSFS_FUSEOVERLAYFS_PVC_NAME
