apiVersion: v1
kind: Pod
metadata:
  name: $GIT_NAME
spec:
  containers:
  - name: app
    image: $BENCHMARK_IMAGE
    command: ["/bin/sh", "-c"]
    args:
    - |
      time git clone https://github.com/cyverse/go-irodsclient.git /mount/bench_go_irodsclient
      rm -rf /mount/bench_go_irodsclient
    volumeMounts:
    - name: persistent-storage
      mountPath: /mount
  restartPolicy: Never
  volumes:
  - name: persistent-storage
    persistentVolumeClaim:
      claimName: $IRODSFS_PVC_NAME
